@tailwind base;
@tailwind components;
@tailwind utilities;

.container-input-label {
  @apply relative bg-transparent w-full;
}
.label {
  @apply absolute text-gray-500 z-10;
  left: 12px;
  top: 25%;
  transition:
    top 0.5s ease,
    color 0.3s ease;
}
.span-line {
  @apply relative block w-[105%] h-0.5 bg-white left-[-2px] top-[-8px] z-[-1];
}

.input {
  @apply border border-gray-300 rounded-md px-3 py-2 w-full bg-transparent;

  &:focus {
    @apply text-gray-900 ring-1 ring-primary-600 outline-none;

    & ~ .label {
      @apply text-primary-600 top-[-9px] text-xs;
    }
  }
}

.input-has-value {
  @apply ring-1 ring-primary-600 outline-none text-gray-900;

  & ~ .label {
    @apply text-primary-600 top-[-9px] text-xs;
  }
}
